Repository signalkraft/mypyllant-component: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [ --fix ]
        files: ^(homeassistant|script|tests|custom_components)/.+\.py$
      - id: ruff-format
        files: ^(homeassistant|script|tests|custom_components)/.+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [ csv, json ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [ manual ]
      - id: check-json
  # These hooks require the locally installed venv (for example myPyllant for mypy)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: run_venv.sh mypy --pretty --show-error-codes --show-error-context
        language: script
        pass_filenames: true
        files: ^(tests|custom_components)/.+\.py$
      - id: pyright
        name: pyright
        entry: run_venv.sh pyright
        language: script
        pass_filenames: true
        files: ^(tests|custom_components)/.+\.py$
      - id: pytest
        name: pytest
        entry: run_venv.sh pytest --no-cov
        language: script
        pass_filenames: false
        files: ^(tests|custom_components)/.+\.(py|json|yaml)$

Updated base library
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

added missing description for service
  custom_components/mypyllant/services.yaml
Due: pytest

Added HVAC action & test case
  custom_components/mypyllant/climate.py
  tests/test_climate.py
Due: mypy, pyright, pytest

Add HVAC action
  custom_components/mypyllant/climate.py
Due: mypy, pyright, pytest

Update README.md
  README.md
Due: none

Updated base library
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/services.yaml
  dev-requirements.txt
Due: pytest

report await
  custom_components/mypyllant/__init__.py
Due: mypy, pyright, pytest

Added additional system cylinder temperature sensors
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/sensor.py
  dev-requirements.txt
  tests/test_sensor.py
Due: mypy, pyright, pytest

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Updated base library, added holiday mode for VRC700 controlled water heaters
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

Fixed DHW set_operation_mode for VRC700
  custom_components/mypyllant/water_heater.py
Due: mypy, pyright, pytest

simplified vrc700 logic
  custom_components/mypyllant/water_heater.py
Due: mypy, pyright, pytest

new mode and preset map for vrc700
  custom_components/mypyllant/climate.py
  tests/test_climate.py
Due: mypy, pyright, pytest

removed duplicate preset on vrc700
  custom_components/mypyllant/climate.py
Due: mypy, pyright, pytest

Fixed none preset on VRC700 turning off the system
  custom_components/mypyllant/climate.py
Due: mypy, pyright, pytest

Enabled turn_on/off support in zone climate, removed manual mode from VRC700 water heater, fixed cylinder boost on VRC700, upgraded HA test requirements
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/water_heater.py
  dev-requirements.txt
  tests/conftest.py
  tests/test_climate.py
Due: mypy, pyright, pytest

refactored coordinator & climate ventilation entity
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/ventilation_climate.py
  tests/conftest.py
  tests/test_climate.py
  tests/test_quota.py
  tests/test_water_heater.py
Due: mypy, pyright, pytest

made imports more specific
  custom_components/mypyllant/datetime.py
  custom_components/mypyllant/number.py
  custom_components/mypyllant/switch.py
  custom_components/mypyllant/utils.py
  custom_components/mypyllant/ventilation_climate.py
  tests/test_calendar.py
  tests/test_climate.py
  tests/test_init.py
  tests/test_services.py
  tests/test_water_heater.py
  tests/utils.py
Due: mypy, pyright, pytest

fixed cylinder boost on vrc700, again
  custom_components/mypyllant/water_heater.py
Due: mypy, pyright, pytest

Updated docs, better water heater mode check
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/water_heater.py
  dev-requirements.txt
  docs/docs/assets/logo-white.png
  docs/docs/assets/logo.png
  docs/docs/index.md
  docs/docs/stylesheets/extra.css
  docs/mkdocs.yml
Due: mypy, pyright, pytest

Fixed broken option translation in #115, updated base library & removed dacite dependency
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/translations/cs.json
  custom_components/mypyllant/translations/de.json
  custom_components/mypyllant/translations/en.json
  custom_components/mypyllant/translations/it.json
  custom_components/mypyllant/translations/pl.json
  custom_components/mypyllant/translations/sk.json
  dev-requirements.txt
Due: mypy, pyright, pytest

Updated docs, bug template
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/docs/1-automations.md
  docs/docs/2-entities.md
  docs/docs/2-services.md
  docs/docs/3-contributing.md
  docs/docs/3-library.md
  docs/docs/assets/calendar.png
  docs/docs/assets/default-dashboard.png
  docs/docs/assets/services-screenshot.png
  docs/docs/assets/services.png
  docs/docs/index.md
  docs/docs/javascripts/tablesort.js
  docs/mkdocs.yml
Due: none

Docs update
  docs/docs/2-services.md
  docs/docs/index.md
Due: none

climate mapping docs
  docs/docs/2-entities.md
  docs/docs/index.md
Due: none

updated reverse engineering docs
  docs/docs/3-reverse-engineering.md
Due: none

new index docs page
  docs/Dockerfile
  docs/docs/index.md
  docs/mkdocs.yml
Due: none

docs fixes
  docs/docs/3-contributing.md
  docs/docs/assets/logo.png
  docs/docs/index.md
Due: none

Simplified index docs page
  docs/docs/index.md
Due: none

Default value for manual_mode_setpoint_cooling
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

is_active default None value
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

Optimistic data updates after API calls
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/number.py
  custom_components/mypyllant/switch.py
  custom_components/mypyllant/water_heater.py
  dev-requirements.txt
  docs/docs/assets/logo.png
  tests/conftest.py
  tests/utils.py
Due: mypy, pyright, pytest
