Repository signalkraft/mypyllant-component: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [ --fix ]
        files: ^(homeassistant|script|tests|custom_components)/.+\.py$
      - id: ruff-format
        files: ^(homeassistant|script|tests|custom_components)/.+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [ csv, json ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [ manual ]
      - id: check-json
  # These hooks require the locally installed venv (for example myPyllant for mypy)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: run_venv.sh mypy --pretty --show-error-codes --show-error-context
        language: script
        pass_filenames: true
        files: ^(tests|custom_components)/.+\.py$
      - id: pyright
        name: pyright
        entry: run_venv.sh pyright
        language: script
        pass_filenames: true
        files: ^(tests|custom_components)/.+\.py$
      - id: pytest
        name: pytest
        entry: run_venv.sh pytest --no-cov
        language: script
        pass_filenames: false
        files: ^(tests|custom_components)/.+\.(py|json|yaml)$

Added Current Power Sensor for systems that support it, enabled RTS & MPC API calls on VRC700 systems
  .github/ISSUE_TEMPLATE/feature_request.md
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/sensor.py
  dev-requirements.txt
  tests/test_sensor.py
Due: mypy, pyright, pytest

Fixed link to mypyllant.generate_test_data
  docs/docs/3-contributing.md
Due: none

Added DHW circulaton calendar
  custom_components/mypyllant/calendar.py
  tests/test_calendar.py
Due: mypy, pyright, pytest

Preliminary support for ambisense room climate entities
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/coordinator.py
  tests/test_climate.py
  tests/test_sensor.py
Due: mypy, pyright, pytest

Fixed reference to zone from AmbisenseClimate, added preset for quick veto, updated library in manifest and dev requirements
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/const.py
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  tests/test_climate.py
Due: mypy, pyright, pytest

Made properties on system optional
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  docs/docs/2-entities.md
Due: pytest

seconds for ambisense room quick veto duration
  custom_components/mypyllant/climate.py
Due: mypy, pyright, pytest

removed unused service constant
  custom_components/mypyllant/const.py
Due: mypy, pyright, pytest

Made time program heating optional
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: mypy, pyright, pytest

fixed naming of duration on ambisense quick veto
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: mypy, pyright, pytest

manual setpoint support on ambisense rooms
  README.md
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: mypy, pyright, pytest

Added options for enabling / disabling fetching of optional data
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/const.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/translations/de.json
  custom_components/mypyllant/translations/en.json
  tests/conftest.py
Due: mypy, pyright, pytest

Icon for circulation calendar
  custom_components/mypyllant/calendar.py
Due: mypy, pyright, pytest

Added missing translation for ambisense option
  custom_components/mypyllant/translations/de.json
  custom_components/mypyllant/translations/en.json
Due: pytest

Using default holiday setpoint in away mode for vrc700 controllers
  custom_components/mypyllant/datetime.py
  custom_components/mypyllant/number.py
  custom_components/mypyllant/switch.py
Due: mypy, pyright, pytest

Fixes #125, faulty operation mode on service call
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  docs/docs/index.md
Due: mypy, pyright, pytest

Docs on time delay of energy data, config option for update interval of energy sensors
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/const.py
  custom_components/mypyllant/translations/cs.json
  custom_components/mypyllant/translations/de.json
  custom_components/mypyllant/translations/en.json
  custom_components/mypyllant/translations/it.json
  custom_components/mypyllant/translations/pl.json
  custom_components/mypyllant/translations/sk.json
  docs/docs/index.md
Due: mypy, pyright, pytest

docs improvement
  docs/docs/index.md
Due: none

Added end_time calculation for ambisense time program, added calendar, deprecated set_zone_time_program in favor of set_time_program on climate entities
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/services.yaml
  custom_components/mypyllant/utils.py
  dev-requirements.txt
  docs/docs/2-services.md
  tests/test_calendar.py
Due: mypy, pyright, pytest

Added support for ventilation climate entities on VRC700 controllers
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/ventilation_climate.py
  dev-requirements.txt
  tests/test_binary_sensor.py
  tests/test_climate.py
  tests/test_services.py
Due: mypy, pyright, pytest

Updated base library to not be in dependency conflict with newest HA release
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  docker-compose.yml
Due: pytest

initial version of additional ambisense entities
  custom_components/mypyllant/binary_sensor.py
  custom_components/mypyllant/sensor.py
  custom_components/mypyllant/utils.py
  tests/test_binary_sensor.py
Due: mypy, pyright, pytest

Update manifest.json
  custom_components/mypyllant/manifest.json
Due: pytest

Updated mainfest
  custom_components/mypyllant/manifest.json
Due: pytest

Enabled cooling for days on VRC700 controllers
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/services.yaml
  dev-requirements.txt
Due: mypy, pyright, pytest

Updated to python 3.12 in GH build
  .github/workflows/build-test.yaml
Due: none

Removed checks for VRC700 that prevented manual cooling
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/switch.py
Due: mypy, pyright, pytest

Updated translations, fix for manual cooling switch on VRC700, enabled temp ranges on VRC700
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/translations/cs.json
  custom_components/mypyllant/translations/de.json
  custom_components/mypyllant/translations/en.json
  custom_components/mypyllant/translations/it.json
  custom_components/mypyllant/translations/pl.json
  custom_components/mypyllant/translations/sk.json
  dev-requirements.txt
  docs/docs/2-entities.md
Due: mypy, pyright, pytest

incremented version
  custom_components/mypyllant/manifest.json
Due: pytest

Bumped library version to fix RTS and MPC data fetching
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

Added Manual Cooling Duration on all controllers, Added option for default Manual Cooling Duration in Days, Refactored some constants
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/const.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/number.py
  custom_components/mypyllant/switch.py
  custom_components/mypyllant/translations/cs.json
  custom_components/mypyllant/translations/de.json
  custom_components/mypyllant/translations/en.json
  custom_components/mypyllant/translations/it.json
  custom_components/mypyllant/translations/pl.json
  custom_components/mypyllant/translations/sk.json
  custom_components/mypyllant/utils.py
  dev-requirements.txt
  tests/test_climate.py
  tests/test_number.py
Due: mypy, pyright, pytest

Ignore rbr_capability when fetching ambisense rooms
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

Updated base library to fix issues with timezone parsing, and optional unreach field
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/services.yaml
  dev-requirements.txt
Due: mypy, pyright, pytest

version in manifest
  custom_components/mypyllant/manifest.json
Due: pytest

Fixed ZoneCooling might be empty dict on some systems
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

Added ONE_DAY_BANK_HOLIDAY as a valid DHWCurrentSpecialFunctionVRC700
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

Actual fix for empty time_program_cooling error
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  tests/test_binary_sensor.py
  tests/test_sensor.py
Due: mypy, pyright, pytest
