Repository signalkraft/mypyllant-component: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest

mypy:
  name: mypy
  entry: run_venv.sh mypy --pretty --show-error-codes --show-error-context
  language: script
  pass_filenames: true

pytest:
  name: pytest
  entry: run_venv.sh pytest --no-cov
  language: script
  pass_filenames: false

Added services documentation and script to update it
  README.md
  docs/docs/2-services.md
  docs/docs/index.md
  tests/generate_services_docs.py
Due: mypy, pytest

Made quick veto number unavailable if no quick veto is ongoing, fixes #73
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/number.py
  tests/test_quota.py
Due: mypy, pytest

feat: precommit pyright basic type-checking
  .pre-commit-config.yaml
  dev-requirements.txt
  pyproject.toml
Due: none

Added missing yaml requirements
  dev-requirements.txt
Due: none

feat: restructure and merge circuit into zone if unambiguously
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/binary_sensor.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/datetime.py
  custom_components/mypyllant/entities/__init__.py
  custom_components/mypyllant/entities/base.py
  custom_components/mypyllant/entities/circuit.py
  custom_components/mypyllant/entities/device.py
  custom_components/mypyllant/entities/dhw.py
  custom_components/mypyllant/entities/system.py
  custom_components/mypyllant/entities/system_holiday.py
  custom_components/mypyllant/entities/ventilation.py
  custom_components/mypyllant/entities/zone.py
  custom_components/mypyllant/number.py
  custom_components/mypyllant/sensor.py
  custom_components/mypyllant/switch.py
  custom_components/mypyllant/utils.py
  custom_components/mypyllant/water_heater.py
  tests/conftest.py
  tests/test_binary_sensor.py
  tests/test_quota.py
  tests/test_sensor.py
Due: mypy, pytest

Renamed base entities, renamed DailyDataCoordinator to DeviceDataCoordinator, added a check for system.zones for holiday entities
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/datetime.py
  custom_components/mypyllant/entities/base.py
  custom_components/mypyllant/entities/circuit.py
  custom_components/mypyllant/entities/device.py
  custom_components/mypyllant/entities/dhw.py
  custom_components/mypyllant/entities/system.py
  custom_components/mypyllant/entities/system_holiday.py
  custom_components/mypyllant/entities/ventilation.py
  custom_components/mypyllant/entities/zone.py
  custom_components/mypyllant/number.py
  custom_components/mypyllant/sensor.py
  custom_components/mypyllant/switch.py
  tests/conftest.py
  tests/test_sensor.py
Due: mypy, pytest

fix: device efficiency sensor
  custom_components/mypyllant/entities/device.py
Due: mypy, pytest

Added calendar entities for zone heating time program and domestic hot water time program
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/const.py
  custom_components/mypyllant/entities/zone.py
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  tests/test_calendar.py
Due: mypy, pytest

fix: migrate cooling device unique_id
  custom_components/mypyllant/__init__.py
Due: mypy, pytest

fix: remove orphaned devices
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/utils.py
Due: mypy, pytest

fix: ignore exception in async_remove_orphaned_devices
  custom_components/mypyllant/__init__.py
Due: mypy, pytest

Added calendar platform with calendars for zone heating and domestic hot water heating
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/const.py
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  tests/test_calendar.py
Due: mypy, pytest

Updated base library
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

Added docs for calendar
  docs/docs/1-automations.md
  docs/docs/assets/calendar.mp4
Due: none

English
  docs/docs/1-automations.md
Due: none

fix: migrate device unqiue_id, add missing _device_
  custom_components/mypyllant/__init__.py
Due: mypy, pytest

fix: integrate calendar to the new structure
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/entities/calendar.py
  custom_components/mypyllant/entities/zone.py
Due: mypy, pytest

Eco mode and setback temp when heating is disabled in time control mode
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

TimeProgram update
  custom_components/mypyllant/calendar.py
Due: mypy, pytest

VRC700 climate HVAC mode fix
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  docs/docs/1-automations.md
Due: mypy, pytest

Added sensor for On/Off Cycles and Operation Time on supported devices
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/sensor.py
  dev-requirements.txt
  tests/test_sensor.py
Due: mypy, pytest

Removed hours unit from on/off cycle sensor, added better icon
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

Added Czech translatio, updated base library with better support for VRC700 endpoints
  .gitignore
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/translations/cs.json
  dev-requirements.txt
Due: mypy, pytest

Added VRC700 domestic hot water support, refactored myPyllant enums
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/switch.py
  custom_components/mypyllant/water_heater.py
  dev-requirements.txt
  tests/test_climate.py
  tests/test_sensor.py
  tests/test_water_heater.py
Due: mypy, pytest

Updated GH actions
  .github/workflows/build-test.yaml
  .github/workflows/gh-pages.yaml
Due: none

Fixes issue #90, hvac mode on ventilation entity fails on certain modes
  custom_components/mypyllant/climate.py
  tests/test_climate.py
Due: mypy, pytest

Added setpoint to set_holiday, as well as default value if not provided
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/const.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/services.yaml
  dev-requirements.txt
  docs/docs/2-library.md
Due: mypy, pytest

fixed calendar test for empty time programs
  tests/test_calendar.py
Due: mypy, pytest

DAY operating mode for DHW on VRC700
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

Updated base library, made ZoneHeatingStateSensor optional
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/sensor.py
  dev-requirements.txt
Due: mypy, pytest

Updated base library, avoiding error when home conains to system id
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

Fixed hot water boost switch for VRC700
  custom_components/mypyllant/switch.py
  scripts/update-mypyllant
Due: mypy, pytest

Better handling of cylinder boost in water heater entity
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/switch.py
  custom_components/mypyllant/water_heater.py
  dev-requirements.txt
Due: mypy, pytest

Fixed emf API calls for VRC700
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  scripts/update-mypyllant
Due: pytest

Docs
  docs/docs/3-contributing.md
  docs/docs/index.md
Due: none

Eco preset only for time control heating operation mode, made entitiy initialization more robust and less likely to affect other entities on error
  custom_components/mypyllant/binary_sensor.py
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/datetime.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/number.py
  custom_components/mypyllant/sensor.py
  custom_components/mypyllant/switch.py
  custom_components/mypyllant/utils.py
  custom_components/mypyllant/water_heater.py
  dev-requirements.txt
  tests/conftest.py
  tests/test_binary_sensor.py
  tests/test_calendar.py
  tests/test_climate.py
  tests/test_sensor.py
  tests/test_utils.py
  tests/test_water_heater.py
Due: mypy, pytest

Add HVAC action
  custom_components/mypyllant/climate.py
Due: mypy, pytest

Fixed sensor when zone heating state is missing
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/sensor.py
  custom_components/mypyllant/utils.py
  tests/test_climate.py
Due: mypy, pytest

Added set_zone_operating_mode service for heating & cooling, hopefully fixed hvac mode errors on VRC700 controllers
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/const.py
  custom_components/mypyllant/services.yaml
Due: mypy, pytest

Path conditions:
  mypy: any of: ^(tests|custom_components)/.+\.py$
  pytest: any of: ^(tests|custom_components)/.+\.(py|json|yaml)$
