Repository signalkraft/mypyllant-component: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [ --fix ]
        files: ^(homeassistant|script|tests|custom_components)/.+\.py$
      - id: ruff-format
        files: ^(homeassistant|script|tests|custom_components)/.+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [ csv, json ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [ manual ]
      - id: check-json
  # These hooks require the locally installed venv (for example myPyllant for mypy)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: run_venv.sh mypy --pretty --show-error-codes --show-error-context
        language: script
        pass_filenames: true
        files: ^(tests|custom_components)/.+\.py$
      - id: pyright
        name: pyright
        entry: run_venv.sh pyright
        language: script
        pass_filenames: true
        files: ^(tests|custom_components)/.+\.py$
      - id: pytest
        name: pytest
        entry: run_venv.sh pytest --no-cov
        language: script
        pass_filenames: false
        files: ^(tests|custom_components)/.+\.(py|json|yaml)$

feat: add reachable and low battery binary sensor for ambisense devices
  custom_components/mypyllant/binary_sensor.py
  custom_components/mypyllant/utils.py
Due: mypy, pyright, pytest

feat: add reachable and low battery binary sensor for ambisense devices
  custom_components/mypyllant/binary_sensor.py
Due: mypy, pyright, pytest

feat: add reachable and low battery binary sensor for ambisense devices
  custom_components/mypyllant/utils.py
Due: mypy, pyright, pytest

Added Circuit heat curve, limited by outside temperature, and min flow temperature endpoints
  custom_components/mypyllant/binary_sensor.py
  custom_components/mypyllant/number.py
  custom_components/mypyllant/utils.py
  tests/test_binary_sensor.py
Due: mypy, pyright, pytest

Updated library & component version
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: pytest

reformatted with ruff
  custom_components/mypyllant/binary_sensor.py
  custom_components/mypyllant/utils.py
Due: mypy, pyright, pytest

Add reachable and battery low ambisense device binary sensor (#219)
  custom_components/mypyllant/binary_sensor.py
  custom_components/mypyllant/utils.py
Due: mypy, pyright, pytest

Made CircuitState optional
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
Due: mypy, pyright, pytest

Changed api count sensor to total_increasing
  custom_components/mypyllant/sensor.py
Due: mypy, pyright, pytest

fixed manifest version
  custom_components/mypyllant/manifest.json
Due: pytest

Added release script
  scripts/release
Due: none

updated entities
  README.md
  docs/docs/2-entities.md
  scripts/release
Due: none

Seperate quota handling for system data and energy data
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/utils.py
  tests/conftest.py
Due: mypy, pyright, pytest

Added release zip
  .github/workflows/build-test.yaml
Due: none

release workflow
  .github/workflows/build-test.yaml
  .github/workflows/release.yaml
Due: none

release workflow on tags
  .github/workflows/release.yaml
Due: none

fixed zip path
  .github/workflows/release.yaml
Due: none

Updated for HA 2025.1, added support for Kosovo, added Dutch translation, fixed IDs for calendar entities not being unique
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/const.py
  custom_components/mypyllant/datetime.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/translations/en.json
  custom_components/mypyllant/translations/nl.json
  dev-requirements.txt
  tests/conftest.py
  tests/test_init.py
Due: mypy, pyright, pytest

Added minimum HA version in the right place
  custom_components/mypyllant/manifest.json
  hacs.json
Due: pytest

upped version in manifest
  custom_components/mypyllant/manifest.json
Due: pytest

Made energy data not update on a schedule by default, added docs for this new behavior
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/const.py
  docs/docs/index.md
Due: mypy, pyright, pytest

updated manifest version
  custom_components/mypyllant/manifest.json
Due: pytest

Docs
  docs/docs/index.md
Due: none

Removed explicitly set config_entry in OptionsFlowHandler (see #253), Added French translations (see #261), fixed a default value in options docs
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/translations/fr.json
  docs/docs/index.md
Due: mypy, pyright, pytest

fixed an issue with the options dialog not saving
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  pyproject.toml
Due: mypy, pyright, pytest

Updated test cases and scripts around releasing
  LICENSE
  README.md
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  hacs.json
  pyproject.toml
  scripts/release
  tests/conftest.py
  tests/test_binary_sensor.py
  tests/test_calendar.py
  tests/test_climate.py
  tests/test_init.py
  tests/test_sensor.py
  tests/test_services.py
  tests/test_water_heater.py
  tests/utils.py
Due: mypy, pyright, pytest

Added missing french string
  custom_components/mypyllant/translations/fr.json
Due: pytest

removed extra hacs key
  hacs.json
Due: none

Better error handling in configflow, added reauth and reconfigure
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/translations/en.json
Due: mypy, pyright, pytest

incremented version
  custom_components/mypyllant/manifest.json
Due: pytest

Update it.json
  custom_components/mypyllant/translations/it.json
Due: pytest

adding ensure token refresh to api calls to refresh tokens if expired and to avoid 401 errors #285
  custom_components/mypyllant/climate.py
Due: mypy, pyright, pytest

moving ensure_token_refresh to utils #285
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/utils.py
Due: mypy, pyright, pytest

adding ensure_token_refresh to all api calls #285
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/datetime.py
  custom_components/mypyllant/number.py
  custom_components/mypyllant/switch.py
  custom_components/mypyllant/ventilation_climate.py
  custom_components/mypyllant/water_heater.py
Due: mypy, pyright, pytest

adding Visual Studio local cache to gitignore
  .gitignore
Due: none

Update it.json (#278)
  custom_components/mypyllant/translations/it.json
Due: pytest

moving decorator to file decorators
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/datetime.py
  custom_components/mypyllant/decorators.py
  custom_components/mypyllant/number.py
  custom_components/mypyllant/switch.py
  custom_components/mypyllant/utils.py
  custom_components/mypyllant/ventilation_climate.py
  custom_components/mypyllant/water_heater.py
Due: mypy, pyright, pytest

added docstring for explanation
  custom_components/mypyllant/decorators.py
Due: mypy, pyright, pytest
