Repository signalkraft/mypyllant-component: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright, pytest

mypy:
  name: mypy
  entry: run_venv.sh mypy --pretty --show-error-codes --show-error-context
  language: script
  pass_filenames: true

pyright:
  name: pyright
  entry: run_venv.sh pyright
  language: script
  pass_filenames: true

pytest:
  name: pytest
  entry: run_venv.sh pytest --no-cov
  language: script
  pass_filenames: false

following ruff conventions
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/decorators.py
  custom_components/mypyllant/utils.py
Due: mypy, pyright, pytest

ruff convention newline removed
  custom_components/mypyllant/decorators.py
Due: mypy, pyright, pytest

still struggling with the code conventions of ruff ;-(
  custom_components/mypyllant/decorators.py
Due: mypy, pyright, pytest

Adding ensure token refresh to api calls to refresh tokens if expired #285 (#292)
  .gitignore
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/datetime.py
  custom_components/mypyllant/decorators.py
  custom_components/mypyllant/number.py
  custom_components/mypyllant/switch.py
  custom_components/mypyllant/ventilation_climate.py
  custom_components/mypyllant/water_heater.py
Due: mypy, pyright, pytest

Upped manifest version
  custom_components/mypyllant/manifest.json
Due: pytest

username -> email in translations
  custom_components/mypyllant/translations/cs.json
  custom_components/mypyllant/translations/de.json
  custom_components/mypyllant/translations/en.json
  custom_components/mypyllant/translations/fr.json
  custom_components/mypyllant/translations/it.json
  custom_components/mypyllant/translations/nl.json
  custom_components/mypyllant/translations/pl.json
  custom_components/mypyllant/translations/sk.json
Due: pytest

add system_flow_temperature as sensor
  custom_components/mypyllant/sensor.py
Due: mypy, pyright, pytest

add energy_manager_state as enum sensor
  custom_components/mypyllant/sensor.py
Due: mypy, pyright, pytest

Relaxed version pinning of dependencies, to fix compatibility with latest HA version
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  docker-compose.yml
Due: pytest

upgraded python
  .github/workflows/build-test.yaml
  pyproject.toml
Due: none

New system sensors: system_flow_temperature and energy_manager_state (#304)
  custom_components/mypyllant/sensor.py
Due: mypy, pyright, pytest

updated mypyllant depedency to support new countries, added system_flow_temperature and energy_manager_state
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  pyproject.toml
Due: pytest

improved translations
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/strings.json
Due: pytest

upped version
  custom_components/mypyllant/manifest.json
Due: pytest

switched to uv for dependecy management
  .github/workflows/build-test.yaml
  .pre-commit-config.yaml
  docs/docs/3-contributing.md
  pyproject.toml
  run_venv.sh
  uv.lock
Due: none

updated pre-commit hooks
  .pre-commit-config.yaml
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/datetime.py
  custom_components/mypyllant/sensor.py
  docs/docs/3-contributing.md
  tests/test_init.py
  tests/test_mypyllant_version.py
Due: mypy, pyright, pytest

Added glow-worm brand
  custom_components/mypyllant/manifest.json
  dev-requirements.txt
  pyproject.toml
  tests/test_mypyllant_version.py
  uv.lock
Due: mypy, pyright, pytest

allow 0.5 steps up to 12 on quick veto duration number entity
  custom_components/mypyllant/number.py
Due: mypy, pyright, pytest

Correct step for heating curve, issue #287
  custom_components/mypyllant/number.py
Due: mypy, pyright, pytest

finding new countries
  docs/docs/3-contributing.md
  docs/docs/index.md
Due: none

tests data in issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

tz caching
  .pre-commit-config.yaml
  custom_components/mypyllant/manifest.json
  pyproject.toml
  uv.lock
Due: pytest

caching homes, better quota handling
  custom_components/mypyllant/const.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/manifest.json
  custom_components/mypyllant/utils.py
  docs/docs/3-contributing.md
  pyproject.toml
  tests/conftest.py
  tests/test_climate.py
  tests/test_quota.py
  tests/test_sensor.py
  tests/test_services.py
  uv.lock
Due: mypy, pyright, pytest

more options for disabling API fetching
  .pre-commit-config.yaml
  custom_components/mypyllant/const.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/manifest.json
  docs/docs/3-contributing.md
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: mypy, pyright, pytest

even less API fetching
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/const.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/translations/en.json
  tests/conftest.py
Due: mypy, pyright, pytest

translation
  custom_components/mypyllant/translations/en.json
Due: pytest

config flow
  custom_components/mypyllant/config_flow.py
Due: mypy, pyright, pytest

updated base library to support the country moldova
  custom_components/mypyllant/manifest.json
  pyproject.toml
  uv.lock
Due: pytest

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

removed as_datetime template import from HA core
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/climate.py
  custom_components/mypyllant/manifest.json
  pyproject.toml
  uv.lock
Due: mypy, pyright, pytest

raised default update interval to 30min
  custom_components/mypyllant/const.py
Due: mypy, pyright, pytest

quota docs
  custom_components/mypyllant/translations/en.json
  docs/docs/index.md
Due: pytest

Fix unit of measurement for some energy sensors
  custom_components/mypyllant/sensor.py
Due: mypy, pyright, pytest

Expose heating circuit's flow temperature setpoint
  custom_components/mypyllant/sensor.py
Due: mypy, pyright, pytest

Path conditions:
  mypy: any of: ^(tests|custom_components)/.+\.py$
  pyright: any of: ^(tests|custom_components)/.+\.py$
  pytest: any of: ^(tests|custom_components)/.+\.(py|json|yaml)$
